h1 {color: rgb(45,100,220);
}
.produce {background-color: #33CC66;
}
.snacks {background-color: #6666FF;
}
.cleaning {background-color: #3399FF;
}
.personal {background-color: #FF3399;
}
.snacks {text-decoration: line-through;
}
h1 {text-align: center;
}
body { background-image: url("http://2.bp.blogspot.com/-b-vHEOAY7j0/UfXxW2OgzNI/AAAAAAAAFhs/IeTJvHYthE0/s1600/Aisles+of+Groceries.jpg")
      }
