h1 {color: rgb(45,150,200);
}
.produce {background-color: #33CC66;
}
.snacks {background-color: #6666FF;
}
.cleaning {background-color: #3399FF;
}
.personal {background-color: #FF3399;
}
.snacks {text-decoration: line-through;
}
h1 {text-align: center;
}
body {background-image: url("paper.gif"); }
