h1 {color: rgb(45,100,220);
}
.fruit {background-color: #33CC66;
}
.snack {background-color: #6666FF;
}
.meat {background-color: #3399FF;
}
.vegetable {background-color: #FF3399;
}
.dairy {background-color: #00FFFF;
}
h1 {text-align: center;
}
body { background-image: url("http://2.bp.blogspot.com/-b-vHEOAY7j0/UfXxW2OgzNI/AAAAAAAAFhs/IeTJvHYthE0/s1600/Aisles+of+Groceries.jpg")
      }
li {list-style-type: none;
}
.done {text-decoration: line-through;
}
